In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from bs4 import BeautifulSoup

import pandas as pd
import numpy as np

import mysql.connector
from sqlalchemy import create_engine
import pandas.io.sql as psql
import sqlalchemy

from dateutil import parser
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
database_username = 'root'
database_password = 'yash'
database_ip       = '127.0.0.1'
database_name     = 'mainschema'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))

In [14]:
df = pd.read_sql('SELECT * FROM marketsmojorecos', con=database_connection)

In [15]:
df

,srno,index,broker,company_name,current_price,recomended_buying,predict_date,target_price
0,1,0,Prabhudas Lilladher,Colgate Palmol. (I),1248.25,1274.35,2019-09-03,1159.00
1,2,1,Axis Direct,Larsen & Toubro,1310.90,1328.1,2019-09-03,1487.00
2,3,2,Nirmal Bang,Britannia Inds,2695.00,2704.8,2019-09-03,3220.00
3,4,3,Sushil Finance,Sahyadri Industries,147.00,145.5,2019-09-03,220.00
4,5,4,Geojit Financial Services,Tata Chemicals,580.95,579.06,2019-08-30,531.00
...,...,...,...,...,...,...,...,...
22237,22238,3526,Prabhudas Lilladher,BPCL,493.00,378.64,2019-09-05,466.00
22238,22239,3527,Axis Direct,Bajaj Finance,4056.35,3243.58,2019-09-04,3591.00
22239,22240,3528,Geojit Financial Services,Hindalco,207.60,179.21,2019-09-04,195.00
22240,22241,3529,Geojit Financial Services,HDFC,2368.00,2096.68,2019-09-04,2284.00
22241,22242,3530,Geojit Financial Services,Grasim Industries,768.20,694.82,2019-09-04,803.00

In [16]:
s=len(df)
s

22242

In [17]:
df2 = df['broker']
df2

0              Prabhudas Lilladher
1                      Axis Direct
2                      Nirmal Bang
3                   Sushil Finance
4        Geojit Financial Services
                   ...
22237          Prabhudas Lilladher
22238                  Axis Direct
22239    Geojit Financial Services
22240    Geojit Financial Services
22241    Geojit Financial Services
Name: broker, Length: 22242, dtype: object

In [18]:
start_date = '2016-01-01'
end_date = '2016-12-31'

In [19]:
date_object1 = datetime.strptime(start_date, '%Y-%m-%d').date()
print(type(date_object1))
print(date_object1)

<class 'datetime.date'>
2016-01-01

In [20]:
date_object2 = datetime.strptime(end_date, '%Y-%m-%d').date()
print(type(date_object2))
print(date_object2)

<class 'datetime.date'>
2016-12-31

In [21]:
mask = (df['predict_date'] > date_object1) & (df['predict_date'] <= date_object2)

# 2016 data

In [22]:
df1 = df.loc[mask]
df1 = df1.reset_index()
del df1['level_0']
del df1['srno']
del df1['index']
df1

,broker,company_name,current_price,recomended_buying,predict_date,target_price
0,KRChoksey,Force Motors,1199.90,3497.00,2016-10-03,4820.00
1,AUM Capital,Narayana Hrudayalay,239.00,325.55,2016-09-27,400.00
2,Religare,ICICI Bank,390.15,217.73,2016-08-04,181.82
3,Enochventures.com,Parag Milk Foods,137.65,329.6,2016-07-12,425.00
4,Edelweiss,Kewal Kiran Clothing,1000.00,1796.00,2016-05-25,2039.00
...,...,...,...,...,...,...
5193,Axis Direct,Cox & Kings India,3.61,179.00,2016-04-06,338.00
5194,Dolat Capital,Mphasis,966.20,454.00,2016-04-05,620.00
5195,Angel Broking,Dewan Hsg Fin. Corp.,47.15,189.00,2016-04-05,270.00
5196,Angel Broking,MBL Infrastructures,5.57,154.00,2016-04-04,285.00
5197,ICICIdirect.com,Ultratech Cem,3883.75,3237.00,2016-04-01,3600.00

In [23]:
df2 = df1['broker'].nunique()

In [24]:
df2

61

In [25]:
s1=len(df1)
s1

5198

In [16]:
for i in range(1,50):
    sym=df1.at[i, 'company_name']#to get the company name from the df
    print(sym)

Narayana Hrudayalay
ICICI Bank
Parag Milk Foods
Kewal Kiran Clothing
Force Motors
Narayana Hrudayalay
ICICI Bank
Parag Milk Foods
Force Motors
Narayana Hrudayalay
ICICI Bank
Parag Milk Foods
Kewal Kiran Clothing
Can Fin Homes
Tata Power
Reliance Industries
KEI Industries
Escorts
Sterling Tools
Techno Electric &Eng
Natco Pharma
IFGL Refractories
ONGC
CESC
Navneet Education
NBCC (India)
Mold-Tek Packaging
ICICI Bank
Indusind Bank
HDFC Bank
Havells India
Pidilite Inds.
Maruti Suzuki
Tata Motors
Deccan Cements
City Union Bank
IRB Infra.&Developer
Solar Industries
Axis Bank
CRISIL
Indian Bank
Gateway Distriparks
Glenmark Pharma
RBL Bank
Indian Oil Corp.
Petronet LNG
Gujarat Pipavav Port
J Kumar Infraproject
Lupin

In [17]:
from dateutil.relativedelta import relativedelta

In [18]:
for i in range(1,50) :   
    dte = df1.at[i, 'predict_date']
    dte= dte + relativedelta(years=1)#adding 1 year to the current date
    dte1=dte + relativedelta(days=3)
    dte1=dte1.strftime('%d-%m-%Y')
    dte2=dte - relativedelta(days=3)
    dte2=dte2.strftime('%d-%m-%Y')
    print(dte1,dte2)

30-09-2017 24-09-2017
07-08-2017 01-08-2017
15-07-2017 09-07-2017
28-05-2017 22-05-2017
06-10-2017 30-09-2017
30-09-2017 24-09-2017
07-08-2017 01-08-2017
15-07-2017 09-07-2017
06-10-2017 30-09-2017
30-09-2017 24-09-2017
07-08-2017 01-08-2017
15-07-2017 09-07-2017
28-05-2017 22-05-2017
02-01-2018 27-12-2017
02-01-2018 27-12-2017
02-01-2018 27-12-2017
02-01-2018 27-12-2017
02-01-2018 27-12-2017
02-01-2018 27-12-2017
02-01-2018 27-12-2017
02-01-2018 27-12-2017
02-01-2018 27-12-2017
02-01-2018 27-12-2017
02-01-2018 27-12-2017
02-01-2018 27-12-2017
02-01-2018 27-12-2017
02-01-2018 27-12-2017
01-01-2018 26-12-2017
01-01-2018 26-12-2017
01-01-2018 26-12-2017
01-01-2018 26-12-2017
01-01-2018 26-12-2017
01-01-2018 26-12-2017
01-01-2018 26-12-2017
01-01-2018 26-12-2017
01-01-2018 26-12-2017
01-01-2018 26-12-2017
01-01-2018 26-12-2017
01-01-2018 26-12-2017
31-12-2017 25-12-2017
31-12-2017 25-12-2017
30-12-2017 24-12-2017
30-12-2017 24-12-2017
30-12-2017 24-12-2017
30-12-2017 24-12-2017
30-12-2017 24-12-2017
30-12-2017 24-12-2017
30-12-2017 24-12-2017
30-12-2017 24-12-2017

In [19]:
type(dte)

datetime.date

In [20]:
driver = webdriver.Chrome("chromedriver.exe")
driver.get("https://www.nseindia.com/products/content/equities/equities/eq_security.htm")

In [21]:

for i in range(1,20):
    sym = df1.at[i, 'company_name']#to get the company name from the df
    dte = df1.at[i, 'predict_date']#to get the date from the df
    dte= dte + relativedelta(years=1)#adding 1 year to the current date
    dte1=dte + relativedelta(days=7)
    dte1=dte1.strftime('%d-%m-%Y')
    dte2=dte - relativedelta(days=7)
    dte2=dte2.strftime('%d-%m-%Y')
    symbol = driver.find_element_by_id('symbol')
    rangRadioBtn= driver.find_element_by_id('rdDateToDate')
    fromDate = driver.find_element_by_id('fromDate')
    toDate= driver.find_element_by_id('toDate')
    submitBtn= driver.find_element_by_id('get')
    symbol.send_keys(sym)#Symbol Name
    rangRadioBtn.click();
    fromDate.send_keys(dte2)#date should be in this fromat only
    toDate.send_keys(dte1)
    submitBtn.click();
    try:
        element = WebDriverWait(driver, 20).until(
        EC.presence_of_element_located((By.XPATH, "//div[@id='historicalData']/table")))
            
        tableData = driver.find_element_by_xpath("//div[@id='historicalData']/table")
        temp = tableData.text
        tableclean=temp.split('\n')
        size=len(tableclean)
        closeval = []
        for i in range(6,size):
            temp2 = tableclean[i]
            tabclean2 = temp2.split(" ")
            requiredval=tabclean2[8]
            closeval.append(requiredval)
        dfclose = pd.DataFrame({'closeval':closeval})
        #dfnumeric = pd.to_numeric(dfclose['closeval'], downcast='float')
        #mean = dfnumeric.mean()
        print(sym)
        print(dfclose)
        #print(mean)
    except TimeoutException as e:
        print ("error", sym)
    except IndexError as ie:
        print ("error", sym)
    finally :
        print("clear form done")
        symbol.clear()#Clear Symbol Name
        fromDate.clear()#date should be in this fromat only
        toDate.clear()
print("tadaaaaaa")

Narayana Hrudayalay
  closeval
0   301.50
1   300.80
2   299.15
3   300.35
4   300.20
5   297.25
6   298.35
7   303.10
8   301.95
9   298.85
clear form done
error ICICI Bank
clear form done
Parag Milk Foods
   closeval
0    225.35
1    232.00
2    232.95
3    232.20
4    234.10
5    233.70
6    238.80
7    236.70
8    236.35
9    235.40
10   244.45
clear form done
Kewal Kiran Clothing
    closeval
0   1,717.70
1   1,735.05
2   1,733.30
3   1,727.20
4   1,703.35
5   1,712.75
6   1,713.40
7   1,710.00
8   1,715.00
9   1,718.00
10  1,714.60
clear form done
error Force Motors
clear form done
Narayana Hrudayalay
  closeval
0   301.50
1   300.80
2   299.15
3   300.35
4   300.20
5   297.25
6   298.35
7   303.10
8   301.95
9   298.85
clear form done
error ICICI Bank
clear form done
Parag Milk Foods
   closeval
0    225.35
1    232.00
2    232.95
3    232.20
4    234.10
5    233.70
6    238.80
7    236.70
8    236.35
9    235.40
10   244.45
clear form done
error Force Motors
clear form done
Narayana Hrudayalay
  closeval
0   301.50
1   300.80
2   299.15
3   300.35
4   300.20
5   297.25
6   298.35
7   303.10
8   301.95
9   298.85
clear form done
error ICICI Bank
clear form done
Parag Milk Foods
   closeval
0    225.35
1    232.00
2    232.95
3    232.20
4    234.10
5    233.70
6    238.80
7    236.70
8    236.35
9    235.40
10   244.45
clear form done
Kewal Kiran Clothing
    closeval
0   1,717.70
1   1,735.05
2   1,733.30
3   1,727.20
4   1,703.35
5   1,712.75
6   1,713.40
7   1,710.00
8   1,715.00
9   1,718.00
10  1,714.60
clear form done
Can Fin Homes
  closeval
0   500.75
1   489.45
2   474.80
3   472.85
4   477.40
5   473.65
6   476.40
7   469.30
8   470.25
clear form done
Tata Power
  closeval
0    93.15
1    92.30
2    92.05
3    93.50
4    97.15
5    99.70
6   100.80
7    99.60
8    99.55
clear form done
Reliance Industries
  closeval
0   929.80
1   923.75
2   924.20
3   921.05
4   909.75
5   911.15
6   914.80
7   920.30
8   923.25
clear form done
KEI Industries
  closeval
0   360.35
1   361.85
2   362.20
3   376.55
4   374.00
5   373.60
6   377.15
7   377.15
8   378.95
clear form done
Escorts
  closeval
0   755.20
1   746.60
2   772.15
3   787.45
4   774.35
5   772.75
6   772.95
7   788.55
8   795.10
clear form done
Sterling Tools
  closeval
0   442.80
1   436.15
2   437.70
3   433.10
4   434.00
5   426.00
6   429.15
7   425.75
8   426.10
clear form done
tadaaaaaa

In [22]:
temp

'Symbol Series Date Prev Close Open Price High Price Low Price Last Price Close Price VWAP Total Traded\nQuantity Turnover\nNo. of\nTrades Deliverable\nQty % Dly Qt to\nTraded Qty\nKKCL EQ 18-May-2017 1,742.20 1,742.20 1,742.20 1,711.00 1,719.75 1,717.70 1,722.29 607 10,45,429.00 83 394 64.91\nKKCL EQ 19-May-2017 1,717.70 1,715.00 1,744.95 1,679.00 1,740.00 1,735.05 1,719.20 1,358 23,34,667.70 157 512 37.70\nKKCL EQ 22-May-2017 1,735.05 1,706.05 1,749.00 1,706.05 1,736.00 1,733.30 1,735.48 175 3,03,709.65 54 92 52.57\nKKCL EQ 23-May-2017 1,733.30 1,717.00 1,736.05 1,695.65 1,727.20 1,727.20 1,726.06 641 11,06,405.40 39 572 89.24\nKKCL EQ 24-May-2017 1,727.20 1,713.00 1,719.90 1,695.00 1,704.20 1,703.35 1,707.01 211 3,60,179.25 39 167 79.15\nKKCL EQ 25-May-2017 1,703.35 1,703.35 1,722.00 1,703.35 1,705.05 1,712.75 1,712.03 99 1,69,490.85 33 48 48.48\nKKCL EQ 26-May-2017 1,712.75 1,757.75 1,757.80 1,711.85 1,713.40 1,713.40 1,716.54 147 2,52,331.50 24 88 59.86\nKKCL EQ 29-May-2017 1,713.40 1,705.05 1,725.00 1,688.00 1,710.00 1,710.00 1,710.36 395 6,75,592.00 53 352 89.11\nKKCL EQ 30-May-2017 1,710.00 1,710.00 1,715.00 1,692.95 1,715.00 1,715.00 1,708.48 42 71,756.05 11 33 78.57\nKKCL EQ 31-May-2017 1,715.00 1,715.00 1,718.00 1,700.35 1,718.00 1,718.00 1,715.15 135 2,31,545.45 22 114 84.44\nKKCL EQ 01-Jun-2017 1,718.00 1,718.00 1,730.00 1,698.15 1,715.10 1,714.60 1,714.39 2,036 34,90,507.20 68 1,889 92.78'

In [55]:
driver.close()